input.ghost-bust {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	height: 38px;
  	padding: 0 20px;
  	color: #111 !important;
  	text-align: center;
  	font-size: 12px;
  	font-family: "Open Sans", sans-serif;
  	text-transform: uppercase;
  	text-decoration: none;
  	line-height: 35px;
  	border-radius: 3px;
  	background: #fff;
  	transition: all ease 0.3s;
    border: 1px solid #ddd;
}

input.ghost-search {
  height: 38px;
  padding: 0 20px;
  line-height: 35px;
  border-radius: 3px;
  font-size: 12px;
  height: 36px;
  position: relative;
  bottom: 1px;
  border: 1px solid #ddd;
}

#num-results {
	text-align: center;
	font-size: 1.3rem;
}

#results .post {
	margin: 4rem auto;
	padding-bottom: 4rem;
  border-bottom: #EBF2F6 1px solid;
}